<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Shopfee.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE2DDD622BDBCB7B00361413</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE2DDD782BDBCB7E00361413</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE2DDD822BDBCB7E00361413</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
